#pane{
    -fx-background-image: url("../Midia/PacientScreen.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 450 450;
    -fx-background-position: center center;
}
.root { -fx-focus-color: transparent; }
